$_keys: map-keys($breakpoints);
@each $name, $value in $breakpoints {
    @include gte($name) {
        @for $base from 1 through $basis {
            .#{$prefix}item.#{$name}-#{$base} {
                flex-basis: (100% * $base / $basis);
                flex-grow: 0 !important;
                flex-shrink: 0 !important;
            }

            .#{$prefix}row > .#{$prefix}item.#{$name}-#{$base},
            .#{$prefix}rows > .#{$prefix}item.#{$name}-#{$base} {
                max-width: (100% * $base / $basis);
            }

            .#{$prefix}col > .#{$prefix}item.#{$name}-#{$base},
            .#{$prefix}cols > .#{$prefix}item.#{$name}-#{$base} {
                max-height: (100% * $base / $basis);
            }
        }
    }
}
