@each $name in join((''), map-keys($breakpoints)) {
    @include gte($name) {
        .#{$prefix}col.#{$name}-y-bottom,
        .#{$prefix}cols.#{$name}-y-bottom {
            justify-content: flex-end;
        }

        .#{$prefix}row.#{$name}-y-bottom,
        .#{$prefix}rows.#{$name}-y-bottom {
            align-content: flex-end;
        }

        .#{$prefix}row > .#{$prefix}item.#{$name}-y-bottom,
        .#{$prefix}rows > .#{$prefix}item.#{$name}-y-bottom {
            align-self: flex-end;
        }
    }
}
