@each $name in join((''), map-keys($breakpoints)) {
    @include gte($name) {
        .#{$prefix}col.#{$name}-y-top,
        .#{$prefix}cols.#{$name}-y-top {
            justify-content: flex-start;
        }

        .#{$prefix}row.#{$name}-y-top,
        .#{$prefix}rows.#{$name}-y-top {
            align-items: flex-start;
        }

        .#{$prefix}row > .#{$prefix}item.#{$name}-y-top,
        .#{$prefix}rows > .#{$prefix}item.#{$name}-y-top {
            align-self: flex-start;
        }
    }
}
